on:
  push:
    branches:
      - main

jobs:
  release:
    uses: nrkno/github-workflow-semantic-release/.github/workflows/workflow.yaml@e6669e77f180fa44fab5cbd2601b64f3c6ecd7f1 # v4
    with:
      runs-on: ubuntu-22.04
